/* SignUp.module.css */
.container {
    display: flex;
    height: 100vh;
  }
  .imageSection {
    flex: 3;
    background-image: url('/workout2.jpg');
    background-size: cover;
    background-position: center;
  }
  .formSection {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1919;
    padding: 1rem;
  }
  .formContainer {
    width: 100%;
    max-width: 300px;
    text-align: left;
  }
  .heading {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #ffffff;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #ffffff;
  }
  .input {
    width: 100%;
    padding: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  .button {
    width: 100%;
    padding: 0.6rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    text-transform: lowercase;
  }
  .divider {
    text-align: center;
    margin: 1.5rem 0;
    color: #ffffff;
  }
  .socialIcons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .socialIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    padding: 0.6rem;
    border-radius: 20px;
    cursor: pointer;
  }
  
  /* Media Query */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  }
  